<body class="main" id="video-block" class="fullscreen">
  <div ng-app="app"></div>

  <div class="container">
    <div class="page-header">
        <h1><strong>BRAINY</strong><br><small>The brain lifestyle survey app</small></h1>
    </div>

      <div class="hovereffect">
        <div class="start">
          <%= image_tag("Drawing.png", size: "300x200", class: "img-responsive") %>
          <div class="overlay">
            <h2>Take Survey</h2>
          <%= form_tag "/surveys", method: :post  do %>
            <button class="info" type="submit">Click Here!</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
