<div class="container">
  <div class="page-header">
    <h1>Brainy <small>The brain lifestyle survey app</small></h1>
  </div>

  <button type="button" class="btn btn-success btn-lg"><%= link_to "Take Survey!", "questions/2" %></button>
</div>
