// Place all the styles related to the recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-weight: bold;
}

.description {
  margin-left: 3px;
  margin-bottom: -2px;
}

.treatment-title:hover {
  text-decoration: none;
  font-weight: bold;
}

.col-md-4 {
  height: 90px;
  max-height: 100px;
  max-width: 400px;
  border: none;
}

.loc-name {
  margin: 3px;
}

.loc-add {
  margin: 3px;
}

.loc-rate {
  margin: 3px;
}


.btn btn-info {
  text-decoration: none;
}
