// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category .thumbnail {
  margin: auto;
  width:300px;
  max-width:300px;
  text-align: center;
}

.thumbnail h4 {
  text-align: center;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-cutlery,
.fa-futbol-o,
.fa-frown-o,
.fa-bed {
  float: left;
  margin-left: 5px;
}

.background-color-green {
  background-color: #CEF6CE;
}

.background-color-red {
  background-color: #F5A9A9;
}

canvas {
  border: 5px;
}

.herotreatments {
  text-align: center;
  margin-bottom: 20px;
}

.btn-lg {
  text-decoration: none;
  color: white;
  outline: 0;
  border: none;
}
