// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category .thumbnail {
  margin: auto;
  width:300px;
  max-width:300px;
  text-align: center;
}

.btn-lg {
  text-decoration: none;
  color: white;
  outline: 0;
  border: none;
}
