<p class="text-muted">&copy; Stefan Vlahov 2016</p>
<a class="text-muted" href="https://github.com/stefanvlahov/brain-app" target="_blank"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
<p class="text-muted"><strong>Please note:</strong> Consult with a healthcare representative before embarking on major lifestyle changes.</p>
